<h1>index</h1>

<a href="protected">(1)Protected url: / </a> (won't start any login process)<br />
<a href="/oidc"> (2)    Login OpenID Connect: /oidc</a> <br />


<a href="/logout?url=/?forcepostlogouturl">local logout</a><br />

<br /><br />
profiles: {{profiles}}<br />
<br />
sessionId: {{sessionId}}
